<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="onFirefox">
		<parameter name="browser" value="ff"></parameter>
		<classes>
			<class name="testNGFirst.DataProviderClass" />
		</classes>
	</test>
	<test name="onChrome">
		<parameter name="browser" value="gc">
		</parameter>
		<classes>
			<class name="testNGFirst.DataProviderClass" />
		</classes>
	</test>
	
</suite> <!-- Suite -->
